<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>新建文章</title>

    <link rel="stylesheet" href="../../static/lib/bootstrap4/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap4/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/lib/bootstrap-icons/bootstrap-icons.css"
        th:href="@{/lib/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css"
        th:href="@{/lib/editormd/css/editormd.min.css}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand h4" href="#">后台管理</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-2">
                        <a class="nav-link " href="#" th:href="@{/admin/index}">博客</a>
                    </li>
                    <li class="nav-item mr-2 ">
                        <a class="nav-link" href="#" th:href="@{/admin/types}">分类</a>
                    </li>
                    <li class="nav-item mr-2 ">
                        <a class="nav-link" href="#" th:href="@{/admin/tags}">标签</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="#" th:href="@{/admin/comments}">留言</a>
                    </li>
                    <li class="nav-item  mr-2">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">数据</a>
                    </li>
                </ul>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle text-reset" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        th:text="${session.user.nickname}">
                        用户
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" th:href="@{/admin/logout}">退出登录</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="container px-md-5 py-5">
        <form id="blog-form" class="needs-validation" action="#" th:action="@{/admin/blog/save}" method="POST"
            novalidate>

            <div class="form-group">
                <div class="input-group input-group-lg mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">标题</span>
                    </div>
                    <input type="text" id="title" name="title" class="form-control" th:value="${blog.title}"
                        placeholder="请输入标题..." required>
                    <div class="invalid-feedback">
                        标题为空
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h5 class="text-muted">添加描述</h5>
                <textarea class="form-control" rows="3" name="description"  placeholder="输入博文描述..." th:text="${blog.description}"></textarea>
            </div>

            <div id="test-editormd">
                <textarea name="content" th:text="${blog.content}" placeholder="开始你的文档..."
                    style="display:none;"></textarea>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <h5 class="text-muted">选择分类</h5>
                    <div class="form-group">
                        <select class="form-control w-100" id="sort" name="typeId"
                            aria-label="Example select with button addon" required>
                            <option th:each="type : ${types}" th:text="${type.typeName}" th:value="${type.id}">Choose...
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            请选择分类
                        </div>
                    </div>
                </div>
            </div>


            <h5 class="text-muted">选择标签</h5>
            <div class="row border rounded p-3">
                <div class="col-2" th:each="tag : ${tags}">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="tagIds" type="checkbox" th:id="${tag.tagName}"
                            th:value="${tag.id}">
                        <label class="form-check-label" th:for="${tag.tagName}" th:text="${tag.tagName}">标签1</label>
                    </div>
                </div>
            </div>

            <div class="d-flex mt-4 ">
                <a th:href="@{/admin/index}" class="btn btn-outline-danger mx-2 mr-auto">返回</a>
                    <button type="submit" id="save" class="btn btn-outline-info mx-2 ">保存</button>
                    <button type="submit" id="publish" class="btn btn-outline-success mx-2">发布</button>
            </div>
            <input type="hidden" name="isPublished">
            <input type="hidden" name="id" th:value="${blog.id}">
        </form>
    </main>


    <script src="../../static/lib/jquery-3.5.1.js" th:src="@{/lib/jquery-3.5.1.js}"></script>
    <script src="../../static/lib/bootstrap4/js/bootstrap.bundle.min.js"
        th:src="@{/lib/bootstrap4/js/bootstrap.bundle.min.js}"></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
    <script>
        var testEditor;

        $('#save').click(function () {
            $('[name="isPublished"]').val(false);
            $('#blog-form').submit();
        })
        $('#publish').click(function () {
            $('[name="isPublished"]').val(true);
            $('#blog-form').submit();
        })

        $(function () {
            testEditor = editormd("test-editormd", {
                height: 640,
                syncScrolling: "single",
                path: "/lib/editormd/lib/"
            });
        });

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>

</html>