<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>标签和分类</title>

    <link rel="stylesheet" href="../../static/lib/bootstrap4/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap4/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/lib/bootstrap-icons/bootstrap-icons.css"
        th:href="@{/lib/bootstrap-icons/bootstrap-icons.css}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand h4" href="#">后台管理</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-2" >
                        <a class="nav-link " href="#" th:href="@{/admin/index}">博客</a>
                    </li>
                    <li class="nav-item mr-2" >
                        <a class="nav-link" href="#" th:href="@{/admin/tags}">标签和分类</a>
                    </li>
                    <li class="nav-item mr-2" >
                        <a class="nav-link" href="#" th:href="@{/admin/comments}">留言</a>
                    </li>
                    <li class="nav-item  mr-2" >
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">数据</a>
                    </li>
                </ul>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle text-reset" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        th:text="${session.user.nickname}">
                        用户
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" th:href="@{/admin/logout}">退出登录</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="container-lg py-5 h-100 px-lg-5">
        <br>
        <br>
        <br>
        <br>
        <form class="needs-validation" novalidate>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">标签</span>
                    </div>
                    <input type="text" class="form-control" placeholder="标签1" value="标签1" required>
                    <div class="invalid-feedback">
                        输入栏为空
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <button class="btn btn-secondary mr-auto" type="submit">退出</button>
                <button class="btn btn-primary" type="submit">保存</button>
            </div>
        </form>
    </main>


    <script src="../../static/lib/jquery-3.5.1.js" th:src="@{/lib/jquery-3.5.1.js}"></script>
    <script src="../../static/lib/bootstrap4/js/bootstrap.bundle.min.js"
        th:src="@{/lib/bootstrap4/js/bootstrap.bundle.min.js}"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>

</html>