<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>管理-博文</title>

    <link rel="stylesheet" href="../../static/lib/bootstrap4/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap4/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/lib/bootstrap-icons/bootstrap-icons.css"
        th:href="@{/lib/bootstrap-icons/bootstrap-icons.css}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand h4" href="#">后台管理</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-2">
                        <a class="nav-link active" href="#" th:href="@{/admin/index}">博客</a>
                    </li>
                    <li class="nav-item mr-2 ">
                        <a class="nav-link" href="#" th:href="@{/admin/types}">分类</a>
                    </li>
                    <li class="nav-item mr-2 ">
                        <a class="nav-link" href="#" th:href="@{/admin/tags}">标签</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="#" th:href="@{/admin/comments}">留言</a>
                    </li>
                    <li class="nav-item  mr-2">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">数据</a>
                    </li>
                </ul>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle text-reset" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        th:text="${session.user.nickname}">
                        用户
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" th:href="@{/admin/logout}">退出登录</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="container-lg py-5 h-100 px-lg-5">
        <div class="d-flex flex-column">
            <div class="alert alert-success mb-5 text-center w-50 align-self-center"
                th:unless="${#strings.isEmpty(message)}" role="alert">
                <strong th:text="${message}">simple success alert—check it out!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <h3 class="text-center">博文数：<span class="text-info" th:text="${totalBlogs}">12</span></h3>

        <div class="d-flex my-4">
            <a class="btn btn-primary px-3 mr-3" th:href="@{/admin/blog/new}" href="#">
                新建
            </a>
            <button class="btn btn-secondary px-3" type="button" data-toggle="collapse" data-target="#search">
                搜索
            </button>
        </div>
        <div class="collapse my-2 border py-3" id="search">
            <form class="form-inline w-100" action="#" method="GET" th:action="@{/admin/index}">
                <div class="col-md-4 col-6">
                    <h5 class="mb-3 text-muted">选择分类</h5>
                    <select class="custom-select w-100" name="typeId" id="type"
                        aria-label="Example select with button addon" >
                        <div>
                            <option value="" th:selected="${typeFilter==null}">任何分类</option>
                        </div>
                        <div th:each="type : ${types}">
                            <option th:value="${type.id}" th:text="${type.typeName}" th:selected="${typeFilter==type.id}">One</option>
                        </div>
                    </select>
                </div>
                <div class="col-md-4 col-6">
                    <h5 class="mb-3 text-muted">选择标签</h5>
                    <select class="custom-select w-100" name="tagId" id="tag"
                        aria-label="Example select with button addon" >
                        <div>
                            <option value="" th:selected="${tagFilter==null}">任何标签</option>
                        </div>
                        <div th:each="tag : ${tags}">
                            <option th:value="${tag.id}" th:text="${tag.tagName}" th:selected="${tagFilter==tag.id}">One</option>
                        </div>
                    </select>
                </div>
                <div class="col-md-4 col-6 mt-md-0 mt-4">
                    <h5 class="mb-3 text-muted">输入标题</h5>
                    <input class="form-control w-100" type="text" name="title" placeholder="任何标题"
                        th:value="${titleFilter}" id="title">
                </div>
                <div class="col-6 d-md-flex mt-4">
                    <button type="submit" class="btn btn-outline-secondary">搜索</button>
                </div>
            </form>
        </div>

        <ul th:fragment="blogList" class="list-group my-5">
            <li th:each="blog,iterStat : ${page.content}" class="list-group-item">
                <div class="row">
                    <div class="col-md-9 mb-3 mb-md-3">
                        <h4 class="mb-4 mt-2"><span class="small text-info"
                                th:unless="${blog.isPublished}">【草稿】</span><span th:text="${blog.title}">标题1</span></h4>
                        <div class="row">
                            <div class="col-6 col-lg-3">
                                <p class="mb-0 text-muted"><i class="bi bi-person mr-1"></i><small
                                        th:text="${blog.user.nickname}">幻丶象</small></p>
                            </div>
                            <div class="col-6 col-lg-3">
                                <p class="mb-0 text-muted"><i class="bi bi-calendar2-date mr-1"></i><small
                                        th:text="${blog.updateTime}">2021-2-15</small></p>
                            </div>
                            <div class="col-6 col-lg-3">
                                <p class="mb-0 text-muted"><i class="bi bi-funnel mr-1"></i><small
                                        th:text="${blog.type.typeName}">技术</small></p>
                            </div>
                            <div class="col-6">
                                <p class="mb-0 text-muted"><i class="bi bi-tags mr-1"></i>
                                    <small th:each="tag : ${blog.tags}" th:text="${tag.tagName}"
                                        class="mr-1">Java</small>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 d-flex align-items-center justify-content-end">
                        <a href="#" th:href="@{/admin/blog/update(id=${blog.id})}"
                            class="btn btn-secondary px-3 mr-2">修改</a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger px-3 mr-2" data-toggle="modal"
                            data-target="#deleteModal" th:attr="data-target=|#deleteModal${iterStat.count}|">
                            删除
                        </button>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary px-3" data-toggle="modal" data-target="#publish"
                            th:attr="data-target=|#publishModal${iterStat.count}|" th:unless="${blog.isPublished}">
                            发布
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal" th:id="|deleteModal${iterStat.count}|" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">是否要删除该博文？</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary mr-auto"
                                            data-dismiss="modal">关闭</button>
                                        <form th:action="@{/admin/blog/del}" method="POST" class="form-inline">
                                            <input type="hidden" name="id" th:value="${blog.id}">
                                            <button type="submit" class="btn btn-danger">删除</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="publish" th:id="|publishModal${iterStat.count}|" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">是否要发布该博文？</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary mr-auto"
                                            data-dismiss="modal">关闭</button>
                                        <form th:action="@{/admin/blog/publish}" method="POST" class="form-inline">
                                            <input type="hidden" name="id" th:value="${blog.id}">
                                            <button type="submit" class="btn btn-primary">发布</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example" th:if="${page.totalPages} > 0">
                <ul class="pagination">
                    <li class="page-item " th:unless="${page.first}">
                        <a class="page-link" href="#" th:href="@{/admin/index(page=${page.number}-1)}"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${page.number} > 2">
                        <a class="page-link " th:href="@{/admin/index(page=0)}" href="#">1</a>
                    </li>
                    <li class="page-item disabled" th:if="${page.number} > 3">
                        <a class="page-link text-monospace" href="#">...</a>
                    </li>

                    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(page.number-2,page.number-1)}"
                        th:if="${pageNumber} >= 0">
                        <a class="page-link " href="#" th:text="${pageNumber}+1"
                            th:href="@{/admin/index(page=${pageNumber})}">1</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link " href="#" th:text="${page.number}+1"
                            th:href="@{/admin/index(page=${page.number})}">2</a>
                    </li>
                    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(page.number+1,page.number+2)}"
                        th:if="${pageNumber lt page.totalPages}">
                        <a class="page-link " href="#" th:text="${pageNumber}+1"
                            th:href="@{/admin/index(page=${pageNumber})}">3</a>
                    </li>

                    <li class="page-item disabled" th:if="${page.totalPages-page.number}>4">
                        <a class="page-link text-monospace" href="#">...</a>
                    </li>
                    <li class="page-item" th:if="${page.totalPages-page.number}>3">
                        <a class="page-link " href="#" th:href="@{/admin/index(page=${page.totalPages-1})}"
                            th:text="${page.totalPages}">3</a>
                    </li>
                    <li class="page-item" th:unless="${page.last}">
                        <a class="page-link" href="#" th:href="@{/admin/index(page=${page.number}+1)}"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>


    <script src="../../static/lib/jquery-3.5.1.js" th:src="@{/lib/jquery-3.5.1.js}"></script>
    <script src="../../static/lib/bootstrap4/js/bootstrap.bundle.min.js"
        th:src="@{/lib/bootstrap4/js/bootstrap.bundle.min.js}"></script>

    <script>
        $(function () {
            $('.page-item').ready(
                function () {
                    filter = "&typeId=" + $('#type').val() + "&tagId=" + $('#tag').val() + "&title=" + $('#title').val();
                    $('.page-item a').each(
                        function () {
                            this.href = this.href + filter;
                        }
                    )
                }
            )
        });
    </script>


</body>

</html>