<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>管理员登录</title>

    <link rel="stylesheet" href="../../static/lib/bootstrap4/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap4/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/lib/bootstrap-icons/bootstrap-icons.css"
        th:href="@{/lib/bootstrap-icons/bootstrap-icons.css}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand h4" href="#">后台管理</a>
    </nav>

    <div class="container py-5">
        <h3 class="text-center mb-5">请使用用户名登录</h3>
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <form class="needs-validation mb-4" method="POST" action="/login" th:action="@{/admin/login}" novalidate>
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                    <div class="invalid-feedback">
                        请输入用户名
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <div class="invalid-feedback">
                        请输入密码
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100">登录</button>
            </form>
            <div class="alert alert-danger" role="alert" th:unless="${#strings.isEmpty(message)}" th:text="${message}">
                alert
            </div>
        </div>
    </div>


    <script src="../../static/lib/jquery-3.5.1.js" th:src="@{/lib/jquery-3.5.1.js}"></script>
    <script src="../../static/lib/bootstrap4/js/bootstrap.bundle.min.js"
        th:src="@{/lib/bootstrap4/js/bootstrap.bundle.min.js}"></script>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>

</html>