<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>首页</title>

    <link rel="stylesheet" href="../static/lib/bootstrap4/css/bootstrap.min.css"
        th:href="@{/lib/bootstrap4/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/lib/bootstrap-icons/bootstrap-icons.css"
        th:href="@{/lib/bootstrap-icons/bootstrap-icons.css}">

</head>

<body>

    <!-- header -->
    <div class="container-fluid bg-light">
        <div class="justify-content-center py-5 d-none d-md-flex">
            <div class="display-2">博客</div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm sticky-top">
        <h1 class="navbar-brand mb-0 d-md-none">博客</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active mr-2">
                    <a class="nav-link" href="#" th:href="@{/index}">首页</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" role="button" data-toggle="collapse" href="#search">搜索</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="#" th:href="@{/archive}">归档</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="#">关于我</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="collapse mb-2 border py-3" id="search">
        <form class="form-inline w-100" action="#" method="GET" th:action="@{/index}">
            <div class="col-md-4 col-6">
                <h5 class="mb-3 text-muted">选择分类</h5>
                <select class="custom-select w-100" name="typeId" id="type"
                    aria-label="Example select with button addon">
                    <div>
                        <option value="" th:selected="${typeFilter==null}">任何分类</option>
                    </div>
                    <div th:each="type : ${types}">
                        <option th:value="${type.id}" th:text="${type.typeName}" th:selected="${typeFilter==type.id}">
                            One</option>
                    </div>
                </select>
            </div>
            <div class="col-md-4 col-6">
                <h5 class="mb-3 text-muted">选择标签</h5>
                <select class="custom-select w-100" name="tagId" id="tag" aria-label="Example select with button addon">
                    <div>
                        <option value="" th:selected="${tagFilter==null}">任何标签</option>
                    </div>
                    <div th:each="tag : ${tags}">
                        <option th:value="${tag.id}" th:text="${tag.tagName}" th:selected="${tagFilter==tag.id}">One
                        </option>
                    </div>
                </select>
            </div>
            <div class="col-md-4 col-6 mt-md-0 mt-4">
                <h5 class="mb-3 text-muted">输入标题</h5>
                <input class="form-control w-100" type="text" name="title" placeholder="任何标题" th:value="${titleFilter}"
                    id="title">
            </div>
            <div class="col-6 d-md-flex mt-4">
                <button type="submit" class="btn btn-outline-secondary">搜索</button>
            </div>
        </form>
    </div>



    <!-- content -->
    <div class="container-lg d-flex flex-column align-items-center p-5">
        <div class="row row-cols-1 w-75">
            <div class="col mb-5" th:each="blog : ${page.content}">
                <div class="card shadow-sm ">
                    <div class="card-header bg-white d-flex justify-content-center">
                        <a class="card-title h5 m-0 text-center text-reset" href="#" th:href="@{/blog(id=${blog.id})}" th:text="${blog.title}">Card title</a>
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:text="${blog.description}">无描述...</p>
                    </div>
                    <div class="card-footer bg-white">
                        <div class="row">
                            <div class="col-lg-3 col-6">
                                <p class="mb-0 text-muted"><i class="bi bi-person mr-1"></i><small th:text="${blog.user.nickname}">幻丶象</small></p>
                            </div>
                            <div class="col-lg-3 col-6">
                                <p class="mb-0 text-muted"><i class="bi bi-calendar2-date mr-1"></i><small
                                        th:text="${blog.updateTime}">2021-2-15</small></p>
                            </div>
                            <div class="col-lg-3 col-6">
                                <p class="mb-0 text-muted"><i class="bi bi-funnel mr-1"></i><small><a href=""
                                            class="text-reset" th:text="${blog.type.typeName}" th:href="@{/index(typeId=${blog.type.id})}">技术</a></small></p>
                            </div>
                            <div class="col-lg-3 col-6">
                                <p class="mb-0 text-muted"><i class="bi bi-tags mr-1"></i>
                                    <small class="mr-1" th:each="tag : ${blog.tags}"><a href="" class="text-reset"
                                            th:text="${tag.tagName}" th:href="@{/index(tagId=(${tag.id}))}">Java</a></small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- pagination -->
        <nav aria-label="Page navigation example" th:if="${page.totalPages} > 0">
            <ul class="pagination">
                <li class="page-item " th:unless="${page.first}">
                    <a class="page-link" href="#" th:href="@{/index(page=${page.number}-1)}"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:if="${page.number} > 2">
                    <a class="page-link " th:href="@{/index(page=0)}" href="#">1</a>
                </li>
                <li class="page-item disabled" th:if="${page.number} > 3">
                    <a class="page-link text-monospace" href="#">...</a>
                </li>

                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(page.number-2,page.number-1)}"
                    th:if="${pageNumber} >= 0">
                    <a class="page-link " href="#" th:text="${pageNumber}+1"
                        th:href="@{/index(page=${pageNumber})}">1</a>
                </li>
                <li class="page-item active">
                    <a class="page-link " href="#" th:text="${page.number}+1"
                        th:href="@{/index(page=${page.number})}">2</a>
                </li>
                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(page.number+1,page.number+2)}"
                    th:if="${pageNumber lt page.totalPages}">
                    <a class="page-link " href="#" th:text="${pageNumber}+1"
                        th:href="@{/index(page=${pageNumber})}">3</a>
                </li>

                <li class="page-item disabled" th:if="${page.totalPages-page.number}>4">
                    <a class="page-link text-monospace" href="#">...</a>
                </li>
                <li class="page-item" th:if="${page.totalPages-page.number}>3">
                    <a class="page-link " href="#" th:href="@{/index(page=${page.totalPages-1})}"
                        th:text="${page.totalPages}">3</a>
                </li>
                <li class="page-item" th:unless="${page.last}">
                    <a class="page-link" href="#" th:href="@{/index(page=${page.number}+1)}"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- footer -->
    <div class="container-fluid d-flex flex-column border-top bg-light align-items-center justify-content-center"
        style="height: 150px;">
        <h4 class="font-weight-light">我的博客</h4>
    </div>



    <script src="../static/lib/jquery-3.5.1.js" th:src="@{/lib/jquery-3.5.1.js}"></script>
    <script src="../static/lib/bootstrap4/js/bootstrap.bundle.min.js"
        th:src="@{/lib/bootstrap4/js/bootstrap.bundle.min.js}"></script>
</body>

</html>